/* Tasks module css */

.tasksContainer #tasksGrid .panel {
    background: #fff !important;
    border-color: #ddd !important;
}
.tasksContainer #tasksGrid .panel-heading {
    background-color: #fcfcfc !important;
    font-size: 16px;
}
.tasksContainer #tasksGrid .panel-body {
    background-color: #fff !important;
}
.tasksContainer #tasksGrid .panel-footer {
    background-color: #fafafa !important;
}
.tasksContainer #tasksGrid .panel.panel-active {
    background-color: #fff !important;
    border-color: #b3ce9e  !important;
}

.tasksContainer #tasksGrid .panel-active .panel-heading {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #b3ce9e  !important;
}
.tasksContainer #tasksGrid .panel.panel-inactive {
    background-color: #f1f1f1 !important;
    border-color: #d4c4c4  !important;
}
.tasksContainer #tasksGrid .panel-inactive .panel-heading {
    color: #8e7878 !important;
    background-color: #e8e1e1 !important;
    border-color: #d4c4c4  !important;    
}


.tasksContainer #tasksGrid .formContent input[type=text] {
    padding: 2px 3px 3px 3px;    
}
.tasksContainer #tasksGrid .taskName,
.tasksContainer #tasksGrid .taskAction {
    width: 40%
}

.tasksContainer #tasksGrid .bootstrap-switch-isActiveToggleForm {    
    margin-right: 10px;
}
.tasksContainer #tasksGrid .bootstrap-switch-isActiveToggleForm .bootstrap-switch-handle-off {    
    padding-left: 5px; 
    padding-right: 5px;
}
.tasksContainer #tasksGrid .panel-heading .taskNameText {
    margin: 4px 0;
}
.tasksContainer #tasksGrid .panel-heading .label {
    font-size: 13px;
    opacity: .6;
}

.taskPanel {
    position: relative;
}

.tasksContainer #tasksGrid .cronscheduleinputs input[type=text] {
    margin: 2px 3px;
    width: 15%;
}

.tasksContainer #tasksGrid  .taskConfig [name=repeat_count] {
    width: 35px;
    margin-left: 2px;
}

.tasksContainer #tasksGrid .taskScheduleContainer.shade {
    padding: 15px;
    background: #fafafa;
}
/* Tasks module css end */