.simpleSearchContainer .select2-container.form-control,
.modal-dialog .select2-container.form-control {
    padding: 0;
    height: auto;
}

.simpleSearchContainer .select2-container-multi .select2-choices,
.modal-dialog .select2-container-multi .select2-choices {
    border: none;
    background-image: none;
    overflow: visible;    
}

.simpleSearchContainer .select2-container-multi .select2-choices:before,
.simpleSearchContainer .select2-container-multi .select2-choices:after,
.modal-dialog .select2-container-multi .select2-choices:before,
.modal-dialog .select2-container-multi .select2-choices:after,
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 

.simpleSearchContainer .select2-container-multi .select2-choices:after,
.modal-dialog .select2-container-multi .select2-choices:after,
.clearfix:after {
    clear: both;
}

.simpleSearchContainer .select2-container-multi .select2-choices,
.modal-dialog .select2-container-multi .select2-choices,
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.simpleSearchContainer {
    background: #fefefe;
    padding: 10px 0;
    border: 1px solid #ddd;
    font-size: 12px;
    margin-bottom: 10px;
}

.sscol-submit,
.sscol {
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    margin-top: 2px;
    margin-bottom: 2px;
}

.sscol-submit {
    
}


/* Column Header based sorting */
.datagrid th.dgcsortable {
    cursor: pointer;
    position: relative;
    padding-left: 12px;
}

.datagrid th.dgcsortable:after {
    content: "\e150";
    position: absolute;
    left: 0;
    padding: 3px;  
    color: #aaa;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;    
}

.datagrid th.dgcsortable:hover:after {
    color: #999;
}

.datagrid th.dgcsortable.dgcsorted:after {
    color: #666;
}

.datagrid th.dgcsortable.dgcsorted.dgcorderasc:after {
    content: "\e155"; /* asc */
/*    content: "\e151"; a-z
    content: "\e153"; 1-9
    content: "\e253"; up triangle*/
}
.datagrid th.dgcsortable.dgcsorted.dgcorderasc:hover:after,
.datagrid th.dgcsortable.dgcsorted.dgcorderdesc:after {
    content: "\e150"; /* desc */
/*    content: "\e152"; z-a
    content: "\e154"; 9-1
    content: "\e252"; down triangle */
}
.datagrid th.dgcsortable.dgcsorted.dgcorderdesc:hover:after {
    content: "\e155"; /* asc */
/*    content: "\e151"; a-z
    content: "\e153"; 1-9
    content: "\e253"; up triangle*/
}