.simpleSearchContainer .select2-container.form-control,
.modal-dialog .select2-container.form-control {
    padding: 0;
    height: auto;
}

.simpleSearchContainer .select2-container-multi .select2-choices,
.modal-dialog .select2-container-multi .select2-choices {
    border: none;
    background-image: none;
    overflow: visible;    
}

.simpleSearchContainer .select2-container-multi .select2-choices:before,
.simpleSearchContainer .select2-container-multi .select2-choices:after,
.modal-dialog .select2-container-multi .select2-choices:before,
.modal-dialog .select2-container-multi .select2-choices:after,
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 

.simpleSearchContainer .select2-container-multi .select2-choices:after,
.modal-dialog .select2-container-multi .select2-choices:after,
.clearfix:after {
    clear: both;
}

.simpleSearchContainer .select2-container-multi .select2-choices,
.modal-dialog .select2-container-multi .select2-choices,
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.simpleSearchContainer {
    background: #fefefe;
    padding: 10px 0;
    border: 1px solid #ddd;
    font-size: 12px;
    margin-bottom: 10px;
}

.sscol-submit,
.sscol {
    margin: 5px 10px;
    float: left;
}

.sscol-submit {
    
}