#specialPermissionsGridContainerForm .datagrid .permissionHeader {
    text-align: center;
    padding: 8px;    
}
#specialPermissionsGridContainerForm .datagrid .checkAllRowsCell {
    text-align: center;
    padding: 5px 8px 0;
    width: 30px;
}
#specialPermissionsGridContainerForm .datagrid .permissionCell {
    padding: 8px;
}
#specialPermissionsGridContainerForm .datagrid .rowSelector {
    padding-top: 11px;
}

#specialPermissionsGridContainerForm .datagrid .is_active {
    width: 80px;
    padding-top: 11px;
    text-align: center;
}

#specialPermissionsGridContainerForm .datagrid .config_title {

}
#specialPermissionsGridContainerForm .datagrid tr:not(.newPermission) .config_title input[type=text] ,#specialPermissionsGridContainerForm .datagrid tr:not(.newPermission) .data_type input[type=text] {
    background-color: #fffefe;
    border-color: #880000;    
    color: #880000;
}

#specialPermissionsGridContainerForm .datagrid .exclude_user_ids {
    background-color: #ffeeee;
}

#specialPermissionsGridContainerForm .datagrid .exclude_user_ids ul.select2-choices {
    background-color: #ffe4e4;
    background-image: none;
    border-color: #c39191;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #ffe4e4), color-stop(15%, #fff));
    background-image: -webkit-linear-gradient(top, #ffe4e4 1%, #fff 15%);
    background-image: -moz-linear-gradient(top, #ffe4e4 1%, #fff 15%);
    background-image: linear-gradient(to bottom, #ffe4e4 1%, #fff 15%);    
}

#specialPermissionsGridContainerForm .datagrid .exclude_user_ids 
    .select2-container-multi .select2-choices .select2-search-choice {
        border: 1px solid #aaaaaa;
        color: #333;
        -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);        
        background-color: #e4e4e4;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #ffe4e4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
        background-image: -webkit-linear-gradient(top, #ffe4e4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
        background-image: -moz-linear-gradient(top, #ffe4e4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
        background-image: linear-gradient(to top, #ffe4e4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);         
}

#specialPermissionsGridContainerForm .datagrid tr:nth-child(even).newPermission td {
    background-color: #ffffee !important;
}
#specialPermissionsGridContainerForm .datagrid tr:nth-child(odd).newPermission td {
    background-color: #f9f9e5 !important;
}

#specialPermissionsGridContainerForm table.datagrid tr.newPermission td.exclude_user_ids {
    background-color: #ffebe0 !important;
}

#specialPermissionsGridContainerForm table tbody tr td {
    cursor: default;
}
#specialPermissionsGridContainerForm table tbody tr td .rowDisplayValue {
    cursor: pointer;
    font-weight: bold;
    line-height: 28px;
}

